@model IEnumerable<OnlineNewspaper.Models.NewsDetails>

@{
    ViewData["Title"] = "Index";
}


@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div>
    <marquee>
        The name of our country is bangladesh
    </marquee>
</div>
<div style="background-color:gainsboro">
    <div style="height:400px; width:71%; background-color:gainsboro; float:left; padding:10px">
        @{

            if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div style="padding-right:1px">
                        <img style="height:350px; width:100%"  src="@Model.Last().Image"
                             asp-append-version="true" alt="@item.Image" />
                    </div>
                    <div style="padding-right:1px;">
                        <p >
                            <a asp-action="Details" asp-route-id="@Model.Last().NewsDetailsID"><span style=" font-weight:bold; font-size:25px; color: orangered">@Model.Last().Title</span></a>
                        </p>
                    </div>
                    break;
                }
            }
        }

    </div>


    <div style="height:400px; width:27%; background-color:gainsboro; float:left; padding:10px">
        <div style="height:100%; width:100%; background-color:white">
            <img style="height:100%; width:100%;" src="~/ImageFiles/SideBarImage.gif" />
        </div>
    </div>

    <div style="width:71%; float:left; background-color: gainsboro">
        @foreach (var item in Model)
        {
            <div style="float:left; box-shadow:1px; height:400px; width:260px; padding:10px; border: 1px solid gainsboro; background-color:white">
                <div style="padding-right:1px">
                    <img style="height:200px; width:100%" src="@item.Image"
                         asp-append-version="true" alt="@item.Image" />
                </div>
                <div style="padding-right:1px;">
                    <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical; font-weight:bold; font-size:20px">
                        @Html.DisplayFor(modelItem => item.Title)
                    </p>
                </div>
                <div style="padding-right:1px;">
                    <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical">@Html.DisplayFor(modelItem => item.NewsBody)</p>
                </div>

                <div style="padding-right:1px">
                    <a asp-action="Details" asp-route-id="@item.NewsDetailsID">Read More....</a>
                </div>
            </div>
        }

    </div>

    <div style=" height:800px; width:27%; background-color: gainsboro; float:left">
        @foreach (var item in Model)
        {
        <div style=" float:left; height:100px; width:100%; padding:10px; background-color:white; border:2px solid gainsboro">
            <div style="padding-right:1px; float:left; padding-right:10px">
                <img style="height:80px; width:80px" src="@item.Image"
                     asp-append-version="true" alt="@item.Image" />
            </div>
            <div style=" padding-right:1px; width:270px">
                <span style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; font-weight:bold; font-size:20px">
                    <a asp-action="Details" asp-route-id="@item.NewsDetailsID">@Html.DisplayFor(modelItem => item.Title)</a>
                </span>
            </div>
            <div style="height:50px">
                <p style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical">@Html.DisplayFor(modelItem => item.NewsBody)</p>
            </div>
        </div>

        }
    </div>
</div>

